video {

  object-fit: cover;

  width: 100vw;

  height: 100vh;

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

}

.App {

    background-color: rgba(255, 255, 255, 0.5);

}

.container {

  display: flex;

  justify-content: center;

}

.search {

  width: 100%;

        padding: 12px 24px;

        background-color: transparent;

        font-size: 14px;

        line-height: 18px;

        color: #575756;

        background-color: whitesmoke;

        margin-left: 0px;

        box-shadow: inset 0px 0px 0px 4px #ddd6e8;

}
ul {

  list-style: none; 

  padding: 5px;

  text-shadow: 0 1px 0 rgba(255,255,255,.5);

}

li {

  display: block;

  padding: .4em .4em .4em .8em;

  margin: .5em 0 .5em 2.5em;

  background: #ddd6e8;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  color:black;


}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
 
}
.icon{
  display: flex;
  
}
button{
  background: #dbecc4;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
}

h1, h2, p, li, ul{
  font-family: 'Open Sans', sans-serif; 
}
.position{
  display: flex;
  justify-content: center;
}
.img{
  box-shadow: 2px 2px 3px 3px #575756;
  border-radius: 200px;
}

.inputSearch{
  display: flex;
}

.li{
  display: flex;
  justify-content: center;

}
.name{
  text-shadow: 5px 5px 5px white;
}
.calories{
  text-shadow: 5px 5px 5px white;
  font-size: 25px ;
}